<footer class="footer mt-5 bg-dark text-light pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Encuentranos en otras redes sociales:</h5>
                <p>Instagram: <a href="https://www.instagram.com/hospitrack/" target="_blank">Hospitrack</a></p>
                <p>Facebook: Proximamente</p>
                <p>Telegram: Proximamente</p>
            </div>

            <div class="col-md-4">
                <h5>Términos y Condiciones</h5>
                <p>Esta página web recopila información de los hospitales cercanos en tu zona, permitiéndote agendar tus propias citas médicas. Por favor revisa nuestros <a href="terminosycondiciones.html">Términos y Condiciones</a> para más detalles.</p>
               
            </div>

            
            <div class="col-md-4">
                <h5>Apelaciones</h5>
                <p>Si deseas apelar una decisión relacionada con tu cita o el uso de nuestros servicios, por favor dirígete a nuestro <a href="apelaciones.html">Apartado de Apelaciones</a> y completa el formulario de revisión.</p>
            </div>
          
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Para consultas, puedes escribirnos a los siguientes correos:</p>
                <ul>
                    <li>Correos: <span id="correo1">iglausser2024@alu.uct.cl</span></li>
                    <li>Correos: <span id="correo1">jvaldebenito2024@alu.uct.cl</span></li>
                    <li>Correos: <span id="correo1">squinenao2024@alu.uct.cl</span></li>
                    <li>Correos: <span id="correo1">tpenroz2024@alu.uct.cl</span></li>
                    <li>Correos: <span id="correo2">mmaier2024@alu.uct.cl</span></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col text-center">
                <p>© 2024 Hospitrack. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>