<div class="container-fluid shadow-lg pb-1 mb-4 bg-success bg-gradient">
    <div class="container">
    <header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
        <img src="/imagenes/logo.png" class="me-auto" height="80px" alt="logo">
        
        <ul class="nav nav-pills">
            <% if (user) { %> <!-- Revisa si la variable usuario existe (user se entrega desde el servidor con render) -->

                <!-- Mostrar solo para usuarios que no son admin -->
                <% if (user.TipoUsuario !== 'admin') { %>
                    <li class="nav-item"><a class="btn btn-outline-light me-3 btn-lg" href="/perfilUsuario"><img class="me-2" width="30px" height="30px" src="imagenes/default_profile.png" id="profile-icon" alt="pfp">Perfil</a></li>
                    <li class="nav-item"><a class="btn btn-outline-light me-3 btn-lg" href="/mis_solicitudes">Mis solicitudes</a></li>
                <% } %>

                <!-- Mostrar solo para admin -->
                <% if (user.TipoUsuario == 'admin') { %>
                    <li class="nav-item"><a class="btn btn-outline-light me-3 btn-lg" href="/admin">Panel de administrador</a></li>
                <% } %>

                <!-- Mostrar solo para recepcionista -->
                <% if (user.TipoUsuario == 'recepcionista') { %>
                    <li class="nav-item"><a class="btn btn-outline-light me-3 btn-lg" href="/recepcionista">Panel de recepcionista</a></li>
                <% } %>

                <!-- Botón común para todos los usuarios logueados -->
                <li class="nav-item"><a class="btn btn-outline-light me-3 btn-lg" href="/logout">Cerrar Sesión</a></li>

            <% } else { %>
                <li class="nav-item"><a class="btn btn-outline-light me-3 btn-lg" role="button" href="iniciosesion">Iniciar Sesión</a></li>
                <li class="nav-item"><a class="btn btn-outline-light me-3 btn-lg" href="registropersona">Registrarse</a></li>
            <% } %>
        </ul>
    
    </header>
    </div>
</div>