/* Estilos adicionales y específicos */
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Titulares de cada sección */
  .gestion-registros h2,
  #recepcion-solicitudes h2,
  #historial-solicitudes h2,
  #perfil-view h2 {
    background-color: #2E8B57;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Botones de acción */
  .btn {
    margin: 5px; /* Añadimos márgenes para los botones */
  }
  
  /* Colores personalizados para los botones */
  .btn-success {
    background-color: #4CAF50 !important;  /* Verde claro */
    border-color: #4CAF50 !important;
  }
  
  .btn-primary {
    background-color: #5cb85c !important;  /* Verde un poco más claro */
    border-color: #5cb85c !important;
  }
  
  .btn-danger {
    background-color: #e74c3c !important; /* Rojo oscuro */
    border-color: #e74c3c !important;
  }
  
  /* Margen general para formularios */
  form {
    margin-bottom: 20px;
  }
  
  /* Tabla de espera */
  #tabla-registros-espera th, 
  #tabla-registros-espera td {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px; /* Margen en la tabla */
  }
  
  /* Botones dentro de la tabla */
  #tabla-registros-espera td button {
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    margin: 5px; /* Añadimos margen a los botones de la tabla */
  }
  
  /* Estilo para el input de archivo */
  input[type="file"] {
    margin-top: 10px;
  }
  
  /* Estilo para input con error */
  input.error {
    border: 2px solid red;
  }
  
  /* Notificaciones en tiempo real */
  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #2E8B57;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInOut 5s forwards;
  }
  
  /* Animación para las notificaciones */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  /* Ocultamos los elementos con d-none de Bootstrap */
  .nav-menu.d-none {
    display: none !important;
  }
  