body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

label {
    font-weight: bold;
}

button {
    background-color: #00a2ff; 
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #007bff; 
    text-decoration: none;
}

footer {
    padding-top: 20px;
}
