body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header{
    background-color: #038f54;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.Perfil-contenedor{
    width: 80%;
    max-width: 1200%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.Perfil{
    background-color: #73b127;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    width: 30%;
    border-radius: 5%;
}

.perfil-main{
    display: flex;
    gap: 2rem;
}

.ContenidoDinamico{
    width: 70%;
    background-color: #73b127;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    margin-top: 2rem;
}

.foto-perfil{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #ccc;
    overflow: hidden;
}
.foto-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-perfil p{
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 1rem;
}
button{
    width: 280px;
    height: 45px;
    padding: 10px;
    margin: 5px;
    background-color: #038f54;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    line-height: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

button i{
    margin-right: 8px;
}

button:hover{
    background-color: #026d43;
}

footer{
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

.ContenidoCU{
    margin-top: 20px;
}

.ContenidoCU h3{
    font-size: 1,5rem;
    margin-bottom: 15px;
}

.ContenidoCU p{
    font-size: 1rem;
    line-height: 1.5;
}

.ContenidoCU p br{
    margin-bottom: 10px;
}

.cambiarNombre{
    margin-top: 20px;
}

.cambiarNombre h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.cambiarNombre form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cambiarNombre label{
    font-size: 1rem;
}

.cambiarNombre input{
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cambiarNombre button{
    padding: 10px;
    font-size: 1rem;
    background-color: #026d43;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cambiarNombre button:hover{
    background-color: #038f54;
}