body {
  background-color: #E8F5E9;
  color: #1B4D3E;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;

  /* Mantener el footer al fondo */
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

header {
  background-color: #A0D6B4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-logo {
  height: 80px;
}

.container {
  width: 400px;
  margin: auto;
}

h1 {
  color: #1B4D3E;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

label {
  color: #1B4D3E;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1B4D3E;
}

a {
  color: #1B4D3E;
  text-decoration: none;
}

a:hover {
  color: #2E8B57;
}

button[type="submit"] {
  background-color: #2E8B57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1B4D3E;
}

/* Estilos para el footer */
footer {
  background-color: #A0D6B4;
  padding: 40px 20px;
  text-align: center;
}

footer h5 {
  color: #0fce95;
  margin-bottom: 20px;
}

footer p {
  color: #0fce95;
  margin-top: 20px;
}

footer a {
  color: #2E8B57;
  text-decoration: none;
}

footer a:hover {
  color: #00bbff;
}

 
footer .col-md-4 p a {
  color: #00bbff;
  text-decoration: underline;
}

footer .col-md-4 p a:hover {
  color: #2E8B57;
}
