#volver-lista-solicitudes {
    background-color: #2E8B57;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

#soli-info-container {
    background-color: green;    /* color provisional obviamente que feo es para ver los bordes */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
}
/* ----------------------- TABLA -------------------------------- */

th, td {
    border-bottom: 2px solid #1B4D3E;
}

th {
    background-color: #2E8B57;
    color: white;
    padding: 10px;
}

td {
    background-color: #C5E1A5;
    padding: 10px;
    text-align: start;
    color: black;
}

tfoot th {
    border-bottom-left-radius: 20px;
}

tfoot td {
    border-bottom-right-radius: 20px;
}