#volver-lista-solicitudes {
    background-color: #2e8b57;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

#volver-lista-solicitudes:hover {
    background-color:#1b683c;
}

#soli-info-container {
    background-color: #0b7037;    /* color provisional obviamente que feo es para ver los bordes */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
}
/* ----------------------- TABLA -------------------------------- */

th, td {
    border-bottom: 2px solid #1B4D3E;
}

th {
    background-color: #2E8B57;
    color: white;
    padding: 10px;
}

td {
    background-color: #C5E1A5;
    padding: 10px;
    text-align: start;
    color: black;
}

tfoot th {
    border-bottom-left-radius: 20px;
}

tfoot td {
    border-bottom-right-radius: 20px;
}

/* ----------------------- BOTONES -------------------------------- */

#boton-cancelar {
    background-color: #d9534f;
    color: white;
    border: 3px solid #520503;
    border-radius: 10px;
    cursor: pointer;
    font-size:xx-large;
    width: 300px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

#boton-cancelar:hover {
    background-color: #881a17;
    border: 3px solid #4e0d0a;
}

#boton-cancelar:active {
    background-color: #4e0d0a;
    border: 3px solid #881a17;
}