body {
  background-color: #E8F5E9; 
  color: #1B4D3E; 
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;

  /* Mantener el footer abajo */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #A0D6B4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-logo {
  height: 80px;
}

.container {
  width: 400px;
  margin: auto;
}

h1 {
  color: #1B4D3E;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: #1B4D3E;
  font-weight: bold;
}

input[type="text"],
input[type="correo"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1B4D3E;
}

button[type="submit"] {
  background-color: #2E8B57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1B4D3E;
}

a {
  color: #1B4D3E;
  text-decoration: none;
}

a:hover {
  color: #2E8B57;
}

footer {
  width: 100%;
  background-color: #A0D6B4;
  padding: 20px;
  margin-top: auto; /* Mantener el footer en la parte inferior */
  text-align: center;
}

footer p {
  margin: 0;
  color: #1B4D3E;
}
footer h2 {
  color: #1B4D3E;
  margin-bottom: 20px;
}

.footer-contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto 20px;
}

.footer-contact-form input,
.footer-contact-form textarea {
  padding: 10px;
  border: 1px solid #1B4D3E;
  border-radius: 5px;
  width: 100%;
}

.footer-contact-form button {
  background-color: #2E8B57;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-contact-form button:hover {
  background-color: #1B4D3E;
}

footer p {
  color: #1B4D3E;
  margin-top: 20px;
}
