<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/olvidepassword.css">
    <title>Olvide mi contraseña</title>
</head>
<body>
    <div class="container">
        <h1>Recupera tu contraseña</h1>
        <form>

            <label for="correo electronico">Ingrese el correo para recuperar la contraseña:</label>
            <input type="correo" id="correo" name="correo" required>
            
            <label for="password">Ingrese su nueva contraseña:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">recuperar</button>

            <a href="iniciosesion.html">Volver al inicio</a>


        </form>
    </div>


    
</body>
</html>