body {
    background-color: #E8F5E9;
    color: #1B4D3E;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;

    /* Para poder dejar el footer abajo */
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;  
}

/* ---------------------------HEADER------------------------------- */

header {
    background-color: #A0D6B4;
    width: 100%;

    display: flex;
    flex-flow: wrap row;
    justify-content:space-evenly;
    padding: 20px;
}

.header-logo {
    display: inline-block;
    margin-left: 20px;
    height: 80px;
}
.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 10px;
    list-style: none;
}

.header-list a {
    padding: 10px 20px;
    background-color: #2E8B57;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-size: larger;
}

.header-list a:hover {
    background-color: #1B4D3E;
}

.header-list a:visited {
    color: white;
}

/* ---------------------------MAIN------------------------------- */

.index-main {
    background-color: #1B4D3E;
    color: white;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    height: calc(100vh - 120px);
}

.index-derecha-mapa {
    width: 30%;
    display: flex;
    flex-flow: nowrap column;
    overflow: scroll;
}

.index-hospital-name {
    background-color: #2E8B57;
    font-size: 2em;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}


/* ---------------------------MAPA------------------------------- */

#map {
    width: 70%;

}

/* ---------------------------SECCIONES------------------------------- */

.index-secciones {
    background-color:#bbd6cd;
    color: #1B4D3E;
    margin: 0 20px 20px 20px;
    border-radius: 30px;
}

.index-secciones-titulo {
    background-color: #2E8B57;
    color: white;
    padding: 10px;
    border-radius: 30px 30px 0 0;
    border-bottom: solid 1px #1B4D3E;
    margin-bottom: -20px;
}

.index-secciones-lista {
    list-style: none;
    padding: 0;
}

.index-secciones-item {
    padding: 10px;
    border-bottom: 1px solid #1B4D3E;
}

.index-secciones-item:hover {
    background-color: #669685;
    color: white;
    cursor: pointer;
}

.index-secciones-item:last-child:hover {
    border-radius: 0 0 30px 30px;
}


/* ---------------------------FILAS------------------------------- */

.index-filas {
    background-color: #bbd6cd;
    color: #1B4D3E;
    margin: 20px;
    border-radius: 30px;
}

.index-filas-titulo {
    background-color: #2E8B57;
    color: white;
    padding: 10px;
    border-radius: 30px 30px 0 0;
    margin-bottom: -20px;
}

.index-filas-subtitulo {
    background-color: #2E8B57;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #1B4D3E;
}

.index-filas-value {
    padding-bottom: 20px;
}


/* ---------------------------FORMULARIO------------------------------- */

.index-reservacion {
    background-color: #C5E1A5;
    color: #1B4D3E;
    margin: 20px;
    border-radius: 30px;

}

.index-reservacion-titulo {
    background-color: #2E8B57;
    color: white;
    padding: 10px;
    border-radius: 30px 30px 0 0;
    border-bottom: solid 1px #1B4D3E;
    margin-top: -20px;
}

#index-reservacion-form {
    display: flex;
    flex-flow: nowrap column;
    padding: 0 20px 0px 20px;
    margin-top: -10px;
}

.index-reservacion-input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1B4D3E;
}

.index-reservacion-textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1B4D3E;
}

.index-reservacion-submit {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1B4D3E;
    background-color: #2E8B57;
    color: white;
    font-size: large;
}

.index-reservacion-submit:hover {
    background-color: #1B4D3E;
}   

/* ---------------------------FOOTER------------------------------- */

footer {
    width: 100%;
    background-color: #A0D6B4;
    padding-bottom: 200px;

    /* Para poder dejar el footer abajo */
    margin-top: auto;
}