body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.form-box {
  background-color: rgb(146, 230, 253);
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: #00a2ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #007bff;
  text-decoration: none;
}
