/* General */
body {
  background-color: #E8F5E9;
  color: #1B4D3E;
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #A0D6B4;
  width: 100%;
  padding: 20px;
  text-align: center;
}
/* Header */
.header-nav {
  margin-top: 10px;
}

.header-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.header-list li {
  margin: 0 15px;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header-link:hover {
  text-decoration: underline;
}




.header-logo {
  height: 80px;
}

.container {
  background-color: #FFFFFF;
  padding: 40px 20px;
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #1B4D3E;
  margin-bottom: 20px;
}

p {
  color: #1B4D3E;
  margin-bottom: 40px;
}

/* Formulario de Apelaciones */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  color: #1B4D3E;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #1B4D3E;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #2E8B57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #1B4D3E;
}
