/* -----------------------SELECCION USERTYPE--------------------------- */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlay div {
    background-color: #3f3f3f;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

#overlay select {
    padding: 10px;
    border-radius: 10px;
}

/* -----------------------MAPA--------------------------- */
#map {
    height:  800px;

}

/* ---------------------EXCLUSIVO USUARIOS-------------------------- */

.invitado-only {
    display: none;
}

.admin-only {
    display: none;
}

.recepcionista-only {
    display: none;
}

.suspendido-only {
    display: none;
}